.TitleControls {
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
}

.TitleControls-Input {
  width: 90%;
  color: white;
  font-weight: 600;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: var(--font-size-3);
}

.TitleControls-Input:focus {
  outline: var(--color-blue-100);
  outline-style: solid;
  outline-width: var(--space-1);
}
