body {
  margin: 0;
}
body,
button,
input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --color-gray-100: #1e1e1e;
  --color-gray-200: #2a2a2a;
  --color-gray-300: #363636;
  --color-gray-400: #454545;
  --color-gray-500: #555555;
  --color-gray-600: #777777;

  --color-blue-100: #2b5dd6;
  --color-blue-200: #3b82f6;
  --color-blue-300: #569cd6;
  --color-blue-400: #9cdcfe;

  --color-green-100: #4ec9b0;

  --color-white: #ffffff;
  --color-black: #000000;

  --space-1: 0.125rem;
  --space-2: 0.375rem;
  --space-3: 0.5rem;
  --space-4: 0.625rem;
  --space-5: 0.875rem;
  --space-6: 1rem;
  --space-7: 1.25rem;
  --space-8: 1.375rem;

  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cm-editor {
  height: 100%;
}

::-webkit-scrollbar {
  width: var(--space-4);
  height: var(--space-4);
}

::-webkit-scrollbar-thumb {
  background: var(--color-gray-500);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-600);
}
::-webkit-scrollbar-thumb:active {
  background: var(--color-white);
}
::-webkit-scrollbar-corner {
  background: var(--color-gray-100);
}

button {
  border: none;
  padding: var(--space-2) var(--space-8) var(--space-2);
  background-color: var(--color-gray-300);
  color: var(--color-white);
  cursor: pointer;
  font-size: var(--font-size-1);
}

button:hover {
  background-color: var(--color-gray-500);
}

button.primary {
  background-color: var(--color-blue-100);
}

button.primary:hover {
  background-color: var(--color-blue-200);
}

button:active,
button.primary:active {
  color: var(--color-black);
  background-color: var(--color-white);
}
